@charset "UTF-8";
/* paleta de colores: https://coolors.co/91c06c-d6e8c8-5fa429-f4f9f0-0f0f0f*/
* {
  box-sizing: border-box;
  /* calcula automaticamente paRA QUE NO HAYA SCROLL HORIZONTAL*/
  padding: 0;
  margin: 0; }

html {
  font-size: 65.5%;
  /* esta linea indica que un REM es igual a 10px* lo que nos permite usar el rem como unidad de medida estandar para todo el proyecto */ }

/*AGREGAR ESTA PARTE Al inicio de  TODOS LOS ARCHIVOS CSS*/
/* usar rem como unidad de edida para las dimensiones no spermite tener un mejor control del tamaño*/
body {
  font-size: 1.6rem;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #cccccc; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', 'Actor', sans-serif;
  text-transform: uppercase; }

a {
  text-decoration: none; }

h1 {
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

p {
  font-family: 'Didact Gothic', sans-serif; }

.headderBlack {
  width: 100%;
  background-color: #0f012e;
  color: #F4F9F0;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1rem 9rem 5rem 9rem 5rem;
  grid-template-areas: "margenA margenA margenA" "logo logo logo " "social social social" "info info info" "hamburguesa hamburguesa hamburguesa"; }
  .headderBlack .logo {
    grid-area: logo;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .headderBlack .logo a {
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      color: #0093dd;
      align-items: center; }
      .headderBlack .logo a img {
        height: 7rem;
        margin-right: 0.75rem; }
      .headderBlack .logo a p {
        font-size: 5rem;
        margin: 1rem auto;
        margin-left: 0.75rem; }
    .headderBlack .logo a:hover {
      color: #F4F9F0; }
  .headderBlack .socialLinks {
    grid-area: social;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem; }
    .headderBlack .socialLinks a {
      cursor: pointer;
      margin: 0.5rem auto;
      color: #F4F9F0; }
    .headderBlack .socialLinks a:hover {
      color: #0093dd; }
  .headderBlack .contactInfo {
    grid-area: info;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: #F4F9F0;
    flex-direction: column;
    justify-content: center; }
    .headderBlack .contactInfo a {
      cursor: pointer;
      margin: 0.5rem 1.5rem;
      color: #F4F9F0; }
    .headderBlack .contactInfo a:hover {
      color: #0093dd; }
  .headderBlack .hamburguesa {
    grid-area: hamburguesa;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #F4F9F0;
    background-color: #0093dd; }

.recibo form {
  background-color: #d5ebf6; }
  .recibo form #datos {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0; }
    .recibo form #datos .renglon {
      display: flex;
      width: 100%;
      font-size: 1.2rem;
      margin: 0.5rem auto;
      text-align: start; }
      .recibo form #datos .renglon .columna1 {
        width: 57%;
        margin-left: 1rem; }
        .recibo form #datos .renglon .columna1 label {
          text-transform: uppercase; }
      .recibo form #datos .renglon .columna2 {
        width: 43%;
        margin-right: 1rem; }
        .recibo form #datos .renglon .columna2 label {
          text-transform: uppercase; }
    .recibo form #datos #jornadaSelect {
      width: 7rem; }
    .recibo form #datos #premiosImput {
      width: 7rem; }
    .recibo form #datos #boton_calcular .boton_calcular_aceptar {
      background-color: #0f012e;
      color: #F4F9F0;
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 18rem;
      margin: 0.5rem auto;
      padding: 0.5rem;
      border-radius: 2rem; }

.recibo #resumenConsulta {
  min-height: 7rem;
  background-color: #0f012e;
  color: #F4F9F0;
  padding: 1.5rem; }

.recibo .tapiz_recibo {
  background-color: #F4F9F0;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 30% 14% 14% 14% 14% 14%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "titulo titulo titulo titulo titulo titulo" "recibo recibo recibo recibo recibo recibo" "subtotal subtotal subtotal subtotal subtotal subtotal" "total total total total total total";
  font-size: 1rem; }
  .recibo .tapiz_recibo #titulo {
    grid-area: titulo;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #0f012e;
    text-transform: uppercase; }
    .recibo .tapiz_recibo #titulo .columnaBase, .recibo .tapiz_recibo #titulo .columnaDescuento, .recibo .tapiz_recibo #titulo .columnaNoRemunerativo, .recibo .tapiz_recibo #titulo .columnaRemunerativo, .recibo .tapiz_recibo #titulo .columnaUnidad {
      text-align: center; }
  .recibo .tapiz_recibo #calculo {
    grid-area: recibo; }
    .recibo .tapiz_recibo #calculo .rowRecibo {
      border-bottom: 1px solid #cccccc; }
  .recibo .tapiz_recibo #sub_total {
    grid-area: subtotal;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 1px solid #0f012e;
    text-transform: uppercase; }
    .recibo .tapiz_recibo #sub_total .rowRecibo {
      width: 100%; }
      .recibo .tapiz_recibo #sub_total .rowRecibo #r_21_1 {
        width: 58%;
        text-align: end;
        padding-right: 1rem; }
      .recibo .tapiz_recibo #sub_total .rowRecibo #r_21_3, .recibo .tapiz_recibo #sub_total .rowRecibo #r_21_4, .recibo .tapiz_recibo #sub_total .rowRecibo #r_21_5 {
        width: 14%;
        text-align: end;
        padding-right: 1rem; }
  .recibo .tapiz_recibo #total {
    grid-area: total;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #0f012e;
    text-transform: uppercase; }
    .recibo .tapiz_recibo #total .rowRecibo {
      width: 100%; }
      .recibo .tapiz_recibo #total .rowRecibo #r_22_4 {
        width: 86%;
        text-align: end;
        padding-right: 1rem; }
      .recibo .tapiz_recibo #total .rowRecibo #r_22_5 {
        width: 14%;
        text-align: end;
        padding-right: 1rem; }
  .recibo .tapiz_recibo .rowRecibo {
    display: flex; }
    .recibo .tapiz_recibo .rowRecibo .columnaConcepto {
      width: 30%;
      padding-left: 1rem; }
    .recibo .tapiz_recibo .rowRecibo .columnaUnidad {
      width: 14%;
      text-align: end;
      padding-right: 1rem; }
    .recibo .tapiz_recibo .rowRecibo .columnaBase {
      width: 14%;
      text-align: end;
      padding-right: 1rem; }
    .recibo .tapiz_recibo .rowRecibo .columnaRemunerativo {
      width: 14%;
      text-align: end;
      padding-right: 1rem; }
    .recibo .tapiz_recibo .rowRecibo .columnaNoRemunerativo {
      width: 14%;
      text-align: end;
      padding-right: 1rem; }
    .recibo .tapiz_recibo .rowRecibo .columnaDescuento {
      width: 14%;
      text-align: end;
      padding-right: 1rem; }

@media screen and (min-width: 768px) {
  .headderBlack {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1rem 9rem 5rem;
    grid-template-areas: "margenA margenA margenA"  "logo info social" "hamburguesa hamburguesa hamburguesa"; }
    .headderBlack .logo {
      width: 95%;
      justify-content: start;
      margin-left: 1rem; }
      .headderBlack .logo a img {
        width: 100%;
        margin: 1rem; }
      .headderBlack .logo a p {
        display: none; }
    .headderBlack .socialLinks {
      width: 80%;
      align-items: center;
      margin: 0 auto; }
    .headderBlack .contactInfo {
      width: 100%;
      margin: 0 auto; }
  .recibo {
    width: 80%;
    margin: 0 auto; }
    .recibo .tapiz_recibo {
      font-size: 1.4rem; } }

@media screen and (min-width: 965px) {
  .headderBlack {
    grid-template-columns: 33% 34% 33%; }
    .headderBlack .logo a p {
      display: block; } }

@media screen and (min-width: 1365px) {
  .headderBlack {
    grid-template-columns: 25% 50% 25%; }
    .headderBlack .contactInfo {
      flex-direction: row;
      align-items: center; } }
